<template>
    <v-card elevation="6" v-bind:disabled="!action.usable">
        <h3>{{action.title}}</h3>
        <p>{{action.description}}</p>
        <v-chip label v-bind:key="action.title+tag" v-for="tag in action.tags">{{tag}}</v-chip>
    </v-card>
</template>

<script>
    export default {
        name: "Action",
        props: ["action"],
        methods: {
            toggleUsable() {
                this.action.usable = !this.action.usable
            }
        }
    }
</script>

<style scoped>
    .v-card {
        margin: 0 10px 10px 10px;
        padding: 18px;
    }

    .v-chip {
        margin-right: 5px;
    }
</style>