<template>
    <div>
        <div v-bind:key="action.title" v-for="action in actions">
            <Action v-bind:action="action"/>
        </div>
    </div>
</template>

<script>
    import Action from "./Action";
    export default {
        name: "Actions",
        components: {Action},
        props: ["actions"]
    }
</script>

<style scoped>

</style>