<template>
    <div>
        <v-text-field label="Search actions..." v-on:input="searchBoxChanged"></v-text-field>
        <v-chip-group multiple column>
            <TagCheckbox v-bind:key="tag.name" v-for="tag in tags" v-bind:tag="tag" v-on:tag-changed="$emit('tag-changed', tag)"/>
        </v-chip-group>
    </div>
</template>

<script>
    import TagCheckbox from "./TagCheckbox";

    export default {
        name: "Search",
        props: ['tagList'],
        components: {
            TagCheckbox
        },
        data() {
            const tags = this.tagList.map(tag => {
                return {
                    name: tag,
                    checked: false
                }
            })
            return {
                search: "",
                tags: tags
            }
        },
        methods: {
            searchBoxChanged(param) {
                this.$emit('search-input-changed', param)
            }
        }
    }
</script>

<style scoped>

</style>