<template>
    <v-chip filter outlined v-on:click="toggleChecked">
        {{tag.name}}
    </v-chip>
</template>

<script>
    export default {
        name: "TagCheckbox",
        props: ['tag'],
        methods: {
            toggleChecked() {
                this.tag.checked = !this.tag.checked
                this.$emit('tag-changed', this.tag)
            }
        }
    }
</script>

<style scoped>
    button {
        margin: 2px;
    }
</style>