<template>
  <div id="app">
    <h1>Harry toolset</h1>
    <Search v-bind:tag-list="availableTags" v-on:search-input-changed="filterBySearch" v-on:tag-changed="filterByTag"/>
    <Actions v-bind:actions="visibleActions"/>
  </div>
</template>

<script>
import Actions from "./components/Actions";
import Search from "./components/Search";

export default {
  name: 'App',
  components: {
    Actions,
    Search,
  },
  methods: {
    filterBySearch(searchedValue) {
      this.currentSearch = searchedValue
      this.visibleActions = this.doFilter(this.actions, this.currentSearch, this.currentTags)
    },
    filterByTag(tag) {
      if (tag.checked) {
        this.currentTags.push(tag.name)
      } else {
        this.currentTags = this.currentTags.filter(currentTag => tag.name !== currentTag)
      }
      this.visibleActions = this.doFilter(this.actions, this.currentSearch, this.currentTags)
    },
    doFilter(actions, search, tags) {
      return actions
              .filter(action => action.title.toLowerCase().trim().includes(search.toLowerCase().trim()))
              .filter(action => {
                if (tags.length)
                  return tags.every(tag => action.tags.includes(tag))
                else
                  return true
              })
    }
  },
  data() {
    const tags = {
      ATTACK: "ATTACK",
      SPELL: "SPELL",
      ACT_OF_FAITH: "ACT_OF_FAITH",
      MELEE: "MELEE",
      SHORT_RANGE: "SHORT_RANGE",
      MEDIUM_RANGE: "MEDIUM_RANGE",
      LONG_RANGE: "LONG_RANGE",
      OFFENSIVE: "OFFENSIVE",
      DEFENSIVE: "DEFENSIVE",
      HEAL: "HEAL",
      UTIL: "UTIL",
      LVL0: "LVL0",
      LVL1: "LVL1",
      LVL2: "LVL2",
      LVL3: "LVL3",
      LVL4: "LVL4",
      LVL5: "LVL5",
      LVL6: "LVL6",
      DAMAGE: "DAMAGE",
      BUFF: "BUFF",
      DEBUFF: "DEBUFF"
    }
    return {
      availableTags: Object.keys(tags),
      actions: [
        {
          title: "basic attack with stick",
          description: "attacking basically you know 4DTONSOFDMG",
          tags: [tags.ATTACK, tags.MELEE],
          usable: true
        },
        {
          title: "Thaumaturgy",
          description: "You manifest a minor wonder, a sign of supernatural power, within range. You create one of the following magical effects within range:\n" +
                  "\n" +
                  "Your voice booms up to three times as loud as normal for 1 minute.\n" +
                  "You cause flames to flicker, brighten, dim, or change color for 1 minute.\n" +
                  "You cause harmless tremors in the ground for 1 minute.\n" +
                  "You create an instantaneous sound that originates from a point of your choice within range, such as a rumble of thunder, the cry of a raven, or ominous whispers.\n" +
                  "You instantaneously cause an unlocked door or window to fly open or slam shut.\n" +
                  "You alter the appearance of your eyes for 1 minute.\n" +
                  "If you cast this spell multiple times, you can have up to three of its 1-minute effects active at a time, and you can dismiss such an effect as an action.",
          tags: [tags.SPELL, tags.LVL0, tags.UTIL, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Guidance",
          description: "You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one ability check of its choice. It can roll the die before or after making the ability check. The spell then ends.",
          tags: [tags.SPELL, tags.LVL0, tags.BUFF, tags.MELEE],
          usable: true
        },
        {
          title: "Resistance",
          description: "You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one saving throw of its choice. It can roll the die before or after making the saving throw. The spell then ends.",
          tags: [tags.SPELL, tags.LVL0, tags.BUFF, tags.MELEE],
          usable: true
        },
        {
          title: "Mending",
          description: "This spell repairs a single break or tear in an object you touch, such as a broken chain link, two halves of a broken key, a torn cloak, or a leaking wineskin. As long as the break or tear is no larger than 1 foot in any dimension, you mend it, leaving no trace of the former damage.\n" +
                  "This spell can physically repair a magic item or construct, but the spell can't restore magic to such an object.",
          tags: [tags.SPELL, tags.LVL0, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Light",
          description: "You touch one object that is no larger than 10 feet in any dimension. Until the spell ends, the object sheds bright light in a 20-foot radius and dim light for an additional 20 feet. The light can be colored as you like. Completely covering the object with something opaque blocks the light. The spell ends if you cast it again or dismiss it as an action.\n" +
                  "If you target an object held or worn by a hostile creature, that creature must succeed on a Dexterity saving throw to avoid the spell. 1 hour.",
          tags: [tags.SPELL, tags.LVL0, tags.UTIL, tags.MELEE],
          usable: true
        },
        {
          title: "Spare the Dying",
          description: "You touch a living creature that has 0 hit points. The creature becomes stable. This spell has no effect on undead or constructs.",
          tags: [tags.SPELL, tags.LVL0, tags.MELEE, tags.HEAL],
          usable: true
        },
        {
          title: "Sacred Flame",
          description: "Flame-like radiance descends on a creature that you can see within range. The target must succeed on a Dexterity saving throw or take 1d8 radiant damage. The target gains no benefit from cover for this saving throw.\n" +
                  "The spell's damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).",
          tags: [tags.SPELL, tags.LVL0, tags.DAMAGE, tags.OFFENSIVE, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Bane",
          description: "Up to three creatures of your choice that you can see within range must make Charisma saving throws. Whenever a target that fails this saving throw makes an attack roll or a saving throw before the spell ends, the target must roll a d4 and subtract the number rolled from the attack roll or saving throw.\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st.",
          tags: [tags.SPELL, tags.LVL1, tags.OFFENSIVE, tags.DEBUFF, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Bless",
          description: "You bless up to three creatures of your choice within range. Whenever a target makes an attack roll or a saving throw before the spell ends, the target can roll a d4 and add the number rolled to the attack roll or saving throw.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st.",
          tags: [tags.SPELL, tags.LVL1, tags.SHORT_RANGE, tags.BUFF],
          usable: true
        },
        {
          title: "Command",
          description: "You speak a one-word command to a creature you can see within range. The target must succeed on a Wisdom saving throw or follow the command on its next turn. The spell has no effect if the target is undead, if it doesn't understand your language, or if your command is directly harmful to it.\n" +
                  "Some typical commands and their effects follow. You might issue a command other than one described here. If you do so, the GM determines how the target behaves. If the target can't follow your command, the spell ends.\n" +
                  "Approach. The target moves toward you by the shortest and most direct route, ending its turn if it moves within 5 feet of you.\n" +
                  "Drop. The target drops whatever it is holding and then ends its turn.\n" +
                  "Flee. The target spends its turn moving away from you by the fastest available means.\n" +
                  "Grovel. The target falls prone and then ends its turn.\n" +
                  "Halt. The target doesn't move and takes no actions. A flying creature stays aloft, provided that it is able to do so. If it must move to stay aloft, it flies the minimum distance needed to remain in the air.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, you can affect one additional creature for each slot level above 1st. The creatures must be within 30 feet of each other when you target them.",
          tags: [tags.SPELL, tags.LVL1, tags.MEDIUM_RANGE, tags.UTIL, tags.DEFENSIVE],
          usable: true
        },
        {
          title: "Cure Wounds",
          description: "A creature you touch regains a number of hit points equal to 1d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d8 for each slot level above 1st.",
          tags: [tags.SPELL, tags.LVL1, tags.MELEE, tags.HEAL],
          usable: true
        },
        {
          title: "Detect Evil and Good",
          description: "For the duration, you know if there is an aberration, celestial, elemental, fey, fiend, or undead within 30 feet of you, as well as where the creature is located. Similarly, you know if there is a place or object within 30 feet of you that has been magically consecrated or desecrated.\n" +
                  "The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt.",
          tags: [tags.SPELL, tags.LVL1, tags.UTIL],
          usable: false
        },
        {
          title: "Detect Magic",
          description: "For the duration, you sense the presence of magic within 30 feet of you. If you sense magic in this way, you can use your action to see a faint aura around any visible creature or object in the area that bears magic, and you learn its school of magic, if any.\n" +
                  "The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt.",
          tags: [tags.SPELL, tags.LVL1, tags.UTIL],
          usable: false
        },
        {
          title: "Detect Poison and Disease",
          description: "For the duration, you can sense the presence and location of poisons, poisonous creatures, and diseases within 30 feet of you. You also identify the kind of poison, poisonous creature, or disease in each case.\n" +
                  "The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt.",
          tags: [tags.SPELL, tags.LVL1, tags.UTIL],
          usable: false
        },
        {
          title: "Guiding Bolt",
          description: "A flash of light streaks toward a creature of your choice within range. Make a ranged spell attack against the target. On a hit, the target takes 4d6 radiant damage, and the next attack roll made against this target before the end of your next turn has advantage, thanks to the mystical dim light glittering on the target until then.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st. 120ft",
          tags: [tags.SPELL, tags.LVL1, tags.DAMAGE, tags.OFFENSIVE, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Healing Word",
          description: "A creature of your choice that you can see within range regains hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs. At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d4 for each slot level above 1st.",
          tags: [tags.SPELL, tags.LVL1, tags.HEAL, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Inflict Wounds",
          description: "Make a melee spell attack against a creature you can reach. On a hit, the target takes 3d10 necrotic damage.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d10 for each slot level above 1st.",
          tags: [tags.SPELL, tags.LVL1, tags.DAMAGE, tags.OFFENSIVE, tags.MELEE],
          usable: false
        },
        {
          title: "Protection from Good and Evil",
          description: "Until the spell ends, one willing creature you touch is protected against certain types of creatures: aberrations, celestials, elementals, fey, fiends, and undead.\n" +
                  "The protection grants several benefits. Creatures of those types have disadvantage on attack rolls against the target. The target also can't be charmed, frightened, or possessed by them. If the target is already charmed, frightened, or possessed by such a creature, the target has advantage on any new saving throw against the relevant effect.",
          tags: [tags.SPELL, tags.LVL1, tags.DEFENSIVE, tags.MELEE],
          usable: false
        },
        {
          title: "Purify Food and Drink",
          description: "All nonmagical food and drink within a 5-foot-radius sphere centered on a point of your choice within range is purified and rendered free of poison and disease. 10ft",
          tags: [tags.SPELL, tags.LVL1, tags.UTIL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Sanctuary",
          description: "You ward a creature within range against attack. Until the spell ends, any creature who targets the warded creature with an attack or a harmful spell must first make a Wisdom saving throw. On a failed save, the creature must choose a new target or lose the attack or spell. This spell doesn't protect the warded creature from area effects, such as the explosion of a fireball.\n" +
                  "If the warded creature makes an attack or casts a spell that affects an enemy creature, this spell ends. 30ft",
          tags: [tags.SPELL, tags.LVL1, tags.DEFENSIVE, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Shield of Faith",
          description: "A shimmering field appears and surrounds a creature of your choice within range, granting it a +2 bonus to AC for the duration.",
          tags: [tags.SPELL, tags.LVL1, tags.DEFENSIVE, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Fearie Fire",
          description: "Each object in a 20-foot cube within range is outlined in blue, green, or violet light (your choice). Any creature in the area when the spell is cast is also outlined in light if it fails a Dexterity saving throw. For the duration, objects and affected creatures shed dim light in a 10-foot radius.\n" +
                  "Any attack roll against an affected creature or object has advantage if the attacker can see it, and the affected creature or object can't benefit from being invisible.",
          tags: [tags.SPELL, tags.LVL1, tags.DEFENSIVE, tags.DEBUFF, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Burning Hands",
          description: "As you hold your hands with thumbs touching and fingers spread, a thin sheet of flames shoots forth from your outstretched fingertips. Each creature in a 15-foot cone must make a Dexterity saving throw. A creature takes 3d6 fire damage on a failed save, or half as much damage on a successful one.\n" +
                  "The fire ignites any flammable objects in the area that aren't being worn or carried.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st. 15ft cone",
          tags: [tags.SPELL, tags.LVL1, tags.OFFENSIVE, tags.DAMAGE, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Aid",
          description: "Your spell bolsters your allies with toughness and resolve. Choose up to three creatures within range. Each target's hit point maximum and current hit points increase by 5 for the duration.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, a target's hit points increase by an additional 5 for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.HEAL, tags.DEFENSIVE, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Augury",
          description: "By casting gem-inlaid sticks, rolling dragon bones, laying out ornate cards, or employing some other divining tool, you receive an omen from an otherworldly entity about the results of a specific course of action that you plan to take within the next 30 minutes. The GM chooses from the following possible omens:\n" +
                  "\n" +
                  "Weal, for good results\n" +
                  "Woe, for bad results\n" +
                  "Weal and woe, for both good and bad results\n" +
                  "Nothing, for results that aren't especially good or bad\n" +
                  "The spell doesn't take into account any possible circumstances that might change the outcome, such as the casting of additional spells or the loss or gain of a companion.\n" +
                  "If you cast the spell two or more times before completing your next long rest, there is a cumulative 25 percent chance for each casting after the first that you get a random reading. The GM makes this roll in secret.",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL],
          usable: false
        },
        {
          title: "Blindness/Deafness",
          description: "You can blind or deafen a foe. Choose one creature that you can see within range to make a Constitution saving throw. If it fails, the target is either blinded or deafened (your choice) for the duration. At the end of each of its turns, the target can make a Constitution saving throw. On a success, the spell ends.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, you can target one additional creature for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.DEFENSIVE, tags.OFFENSIVE, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Calm Emotions",
          description: "You attempt to suppress strong emotions in a group of people. Each humanoid in a 20-foot-radius sphere centered on a point you choose within range must make a Charisma saving throw; a creature can choose to fail this saving throw if it wishes. If a creature fails its saving throw, choose one of the following two effects.\n" +
                  "You can suppress any effect causing a target to be charmed or frightened. When this spell ends, any suppressed effect resumes, provided that its duration has not expired in the meantime.\n" +
                  "Alternatively, you can make a target indifferent about creatures of your choice that it is hostile toward. This indifference ends if the target is attacked or harmed by a spell or if it witnesses any of its friends being harmed. When the spell ends, the creature becomes hostile again, unless the GM rules otherwise.",
          tags: [tags.SPELL, tags.LVL2, tags.DEFENSIVE, tags.UTIL, tags.MEDIUM_RANGE],
          usable: false
        },
        {
          title: "Continual Flame",
          description: "A flame, equivalent in brightness to a torch, springs forth from an object that you touch. The effect looks like a regular flame, but it creates no heat and doesn't use oxygen. A continual flame can be covered or hidden but not smothered or quenched.",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Enhance Ability",
          description: "You touch a creature and bestow upon it a magical enhancement. Choose one of the following effects; the target gains that effect until the spell ends.\n" +
                  "Bear's Endurance. The target has advantage on Constitution checks. It also gains 2d6 temporary hit points, which are lost when the spell ends.\n" +
                  "Bull's Strength. The target has advantage on Strength checks, and his or her carrying capacity doubles.\n" +
                  "Cat's Grace. The target has advantage on Dexterity checks. It also doesn't take damage from falling 20 feet or less if it isn't incapacitated.\n" +
                  "Eagle's Splendor. The target has advantage on Charisma checks.\n" +
                  "Fox's Cunning. The target has advantage on Intelligence checks.\n" +
                  "Owl's Wisdom. The target has advantage on Wisdom checks.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, you can target one additional creature for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.BUFF, tags.MELEE],
          usable: false
        },
        {
          title: "Find Traps",
          description: "You sense the presence of any trap within range that is within line of sight. A trap, for the purpose of this spell, includes anything that would inflict a sudden or unexpected effect you consider harmful or undesirable, which was specifically intended as such by its creator. Thus, the spell would sense an area affected by the alarm spell, a glyph of warding, or a mechanical pit trap, but it would not reveal a natural weakness in the floor, an unstable ceiling, or a hidden sinkhole.\n" +
                  "This spell merely reveals that a trap is present. You don't learn the location of each trap, but you do learn the general nature of the danger posed by a trap you sense. 120ft",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Hold Person",
          description: "Choose a humanoid that you can see within range. The target must succeed on a Wisdom saving throw or be paralyzed for the duration. At the end of each of its turns, the target can make another Wisdom saving throw. On a success, the spell ends on the target.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, you can target one additional humanoid for each slot level above 2nd. The humanoids must be within 30 feet of each other when you target them.",
          tags: [tags.SPELL, tags.LVL2, tags.DEFENSIVE, tags.OFFENSIVE, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Gentle Repose",
          description: "You touch a corpse or other remains. For the duration, the target is protected from decay and can't become undead.\n" +
                  "The spell also effectively extends the time limit on raising the target from the dead, since days spent under the influence of this spell don't count against the time limit of spells such as raise dead.",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Lesser Restoration",
          description: "You touch a creature and can end either one disease or one condition afflicting it. The condition can be blinded, deafened, paralyzed, or poisoned.",
          tags: [tags.SPELL, tags.LVL2, tags.HEAL, tags.MELEE],
          usable: false
        },
        {
          title: "Locate Object",
          description: "Describe or name an object that is familiar to you. You sense the direction to the object's location, as long as that object is within 1,000 feet of you. If the object is in motion, you know the direction of its movement.\n" +
                  "The spell can locate a specific object known to you, as long as you have seen it up close--within 30 feet--at least once. Alternatively, the spell can locate the nearest object of a particular kind, such as a certain kind of apparel, jewelry, furniture, tool, or weapon.\n" +
                  "This spell can't locate an object if any thickness of lead, even a thin sheet, blocks a direct path between you and the object.",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL],
          usable: false
        },
        {
          title: "Prayer of Healing",
          description: "Up to six creatures of your choice that you can see within range each regain hit points equal to 2d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, the healing increases by 1d8 for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.HEAL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Protection from Poison",
          description: "You touch a creature. If it is poisoned, you neutralize the poison. If more than one poison afflicts the target, you neutralize one poison that you know is present, or you neutralize one at random.\n" +
                  "For the duration, the target has advantage on saving throws against being poisoned, and it has resistance to poison damage.",
          tags: [tags.SPELL, tags.LVL2, tags.BUFF, tags.MELEE],
          usable: true
        },
        {
          title: "Silence",
          description: "For the duration, no sound can be created within or pass through a 20-foot-radius sphere centered on a point you choose within range. Any creature or object entirely inside the sphere is immune to thunder damage, and creatures are deafened while entirely inside it. Casting a spell that includes a verbal component is impossible there. 120ft",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL, tags.DEFENSIVE, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Spiritual Weapon",
          description: "You create a floating, spectral weapon within range that lasts for the duration or until you cast this spell again. When you cast the spell, you can make a melee spell attack against a creature within 5 feet of the weapon. On a hit, the target takes force damage equal to 1d8 + your spellcasting ability modifier.\n" +
                  "As a bonus action on your turn, you can move the weapon up to 20 feet and repeat the attack against a creature within 5 feet of it.\n" +
                  "The weapon can take whatever form you choose. Clerics of deities who are associated with a particular weapon (as St. Cuthbert is known for his mace and Thor for his hammer) make this spell's effect resemble that weapon.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, the damage increases by 1d8 for every two slot levels above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.DAMAGE, tags.OFFENSIVE, tags.MEDIUM_RANGE],
          usable: false
        },
        {
          title: "Warding Bond",
          description: "This spell wards a willing creature you touch and creates a mystic connection between you and the target until the spell ends. While the target is within 60 feet of you, it gains a +1 bonus to AC and saving throws, and it has resistance to all damage. Also, each time it takes damage, you take the same amount of damage.\n" +
                  "The spell ends if you drop to 0 hit points or if you and the target become separated by more than 60 feet. It also ends if the spell is cast again on either of the connected creatures. You can also dismiss the spell as an action.",
          tags: [tags.SPELL, tags.LVL2, tags.DEFENSIVE, tags.MELEE],
          usable: false
        },
        {
          title: "Zone of Truth",
          description: "You create a magical zone that guards against deception in a 15-foot-radius sphere centered on a point of your choice within range. Until the spell ends, a creature that enters the spell's area for the first time on a turn or starts its turn there must make a Charisma saving throw. On a failed save, a creature can't speak a deliberate lie while in the radius. You know whether each creature succeeds or fails on its saving throw.\n" +
                  "An affected creature is aware of the spell and can thus avoid answering questions to which it would normally respond with a lie. Such a creature can be evasive in its answers as long as it remains within the boundaries of the truth.",
          tags: [tags.SPELL, tags.LVL2, tags.UTIL, tags.MEDIUM_RANGE],
          usable: false
        },
        {
          title: "Flaming Sphere",
          description: "A 5-foot-diameter sphere of fire appears in an unoccupied space of your choice within range and lasts for the duration. Any creature that ends its turn within 5 feet of the sphere must make a Dexterity saving throw. The creature takes 2d6 fire damage on a failed save, or half as much damage on a successful one.\n" +
                  "As a bonus action, you can move the sphere up to 30 feet. If you ram the sphere into a creature, that creature must make the saving throw against the sphere's damage, and the sphere stops moving this turn.\n" +
                  "When you move the sphere, you can direct it over barriers up to 5 feet tall and jump it across pits up to 10 feet wide. The sphere ignites flammable objects not being worn or carried, and it sheds bright light in a 20-foot radius and dim light for an additional 20 feet.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, the damage increases by 1d6 for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.DAMAGE, tags.OFFENSIVE, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Scorching Ray",
          description: "You create three rays of fire and hurl them at targets within range. You can hurl them at one target or several.\n" +
                  "Make a ranged spell attack for each ray. On a hit, the target takes 2d6 fire damage.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 3rd level or higher, you create one additional ray for each slot level above 2nd.",
          tags: [tags.SPELL, tags.LVL2, tags.DAMAGE, tags.OFFENSIVE, tags.LONG_RANGE],
          usable: true
        },
        {
          title: "Daylight",
          description: "A 60-foot-radius sphere of light spreads out from a point you choose within range. The sphere is bright light and sheds dim light for an additional 60 feet.\n" +
                  "If you chose a point on an object you are holding or one that isn't being worn or carried, the light shines from the object and moves with it. Completely covering the affected object with an opaque object, such as a bowl or a helm, blocks the light.\n" +
                  "If any of this spell's area overlaps with an area of darkness created by a spell of 3rd level or lower, the spell that created the darkness is dispelled.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.MEDIUM_RANGE],
          usable: true
        },
        {
          title: "Fireball",
          description: "A bright streak flashes from your pointing finger to a point you choose within range and then blossoms with a low roar into an explosion of flame. Each creature in a 20-foot-radius sphere centered on that point must make a Dexterity saving throw. A target takes 8d6 fire damage on a failed save, or half as much damage on a successful one.\n" +
                  "The fire spreads around corners. It ignites flammable objects in the area that aren't being worn or carried.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, the damage increases by 1d6 for each slot level above 3rd.",
          tags: [tags.SPELL, tags.LVL3, tags.OFFENSIVE, tags.DAMAGE, tags.LONG_RANGE],
          usable: true
        },
        {
          title: "Animate Dead",
          description: "This spell creates an undead servant. Choose a pile of bones or a corpse of a Medium or Small humanoid within range. Your spell imbues the target with a foul mimicry of life, raising it as an undead creature. The target becomes a skeleton if you chose bones or a zombie if you chose a corpse (the GM has the creature's game statistics).\n" +
                  "On each of your turns, you can use a bonus action to mentally command any creature you made with this spell if the creature is within 60 feet of you (if you control multiple creatures, you can command any or all of them at the same time, issuing the same command to each one). You decide what action the creature will take and where it will move during its next turn, or you can issue a general command, such as to guard a particular chamber or corridor. If you issue no commands, the creature only defends itself against hostile creatures. Once given an order, the creature continues to follow it until its task is complete.\n" +
                  "The creature is under your control for 24 hours, after which it stops obeying any command you've given it. To maintain control of the creature for another 24 hours, you must cast this spell on the creature again before the current 24-hour period ends. This use of the spell reasserts your control over up to four creatures you have animated with this spell, rather than animating a new one.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, you animate or reassert control over two additional undead creatures for each slot level above 3rd. Each of the creatures must come from a different corpse or pile of bones.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Beacon of Hope",
          description: "This spell bestows hope and vitality. Choose any number of creatures within range. For the duration, each target has advantage on Wisdom saving throws and death saving throws, and regains the maximum number of hit points possible from any healing.",
          tags: [tags.SPELL, tags.LVL3, tags.BUFF, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Bestow Curse",
          description: "You touch a creature, and that creature must succeed on a Wisdom saving throw or become cursed for the duration of the spell. When you cast this spell, choose the nature of the curse from the following options:\n" +
                  "\n" +
                  "Choose one ability score. While cursed, the target has disadvantage on ability checks and saving throws made with that ability score.\n" +
                  "While cursed, the target has disadvantage on attack rolls against you.\n" +
                  "While cursed, the target must make a Wisdom saving throw at the start of each of its turns. If it fails, it wastes its action that turn doing nothing.\n" +
                  "While the target is cursed, your attacks and spells deal an extra 1d8 necrotic damage to the target.\n" +
                  "A remove curse spell ends this effect. At the GM's option, you may choose an alternative curse effect, but it should be no more powerful than those described above. The GM has final say on such a curse's effect.\n" +
                  "\n" +
                  "At Higher Levels. If you cast this spell using a spell slot of 4th level or higher, the duration is concentration, up to 10 minutes. If you use a spell slot of 5th level or higher, the duration is 8 hours. If you use a spell slot of 7th level or higher, the duration is 24 hours. If you use a 9th level spell slot, the spell lasts until it is dispelled. Using a spell slot of 5th level or higher grants a duration that doesn't require concentration.",
          tags: [tags.SPELL, tags.LVL3, tags.DEBUFF, tags.BUFF, tags.MELEE],
          usable: true
        },
        {
          title: "Clairvoyance",
          description: "You create an invisible sensor within range in a location familiar to you (a place you have visited or seen before) or in an obvious location that is unfamiliar to you (such as behind a door, around a corner, or in a grove of trees). The sensor remains in place for the duration, and it can't be attacked or otherwise interacted with.\n" +
                  "When you cast the spell, you choose seeing or hearing. You can use the chosen sense through the sensor as if you were in its space. As your action, you can switch between seeing and hearing.\n" +
                  "A creature that can see the sensor (such as a creature benefiting from see invisibility or truesight) sees a luminous, intangible orb about the size of your fist. 1 mile",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Create Food and Water",
          description: "You create 45 pounds of food and 30 gallons of water on the ground or in containers within range, enough to sustain up to fifteen humanoids or five steeds for 24 hours. The food is bland but nourishing, and spoils if uneaten after 24 hours. The water is clean and doesn't go bad.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Dispel Magic",
          description: "Choose one creature, object, or magical effect within range. Any spell of 3rd level or lower on the target ends. For each spell of 4th level or higher on the target, make an ability check using your spellcasting ability. The DC equals 10 + the spell's level. On a successful check, the spell ends.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, you automatically end the effects of a spell on the target if the spell's level is equal to or less than the level of the spell slot you used. 120ft",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Glyph of Warding",
          description: "When you cast this spell, you inscribe a glyph that harms other creatures, either upon a surface (such as a table or a section of floor or wall) or within an object that can be closed (such as a book, a scroll, or a treasure chest) to conceal the glyph. If you choose a surface, the glyph can cover an area of the surface no larger than 10 feet in diameter. If you choose an object, that object must remain in its place; if the object is moved more than 10 feet from where you cast this spell, the glyph is broken, and the spell ends without being triggered.\n" +
                  "The glyph is nearly invisible and requires a successful Intelligence (Investigation) check against your spell save DC to be found.\n" +
                  "You decide what triggers the glyph when you cast the spell. For glyphs inscribed on a surface, the most typical triggers include touching or standing on the glyph, removing another object covering the glyph, approaching within a certain distance of the glyph, or manipulating the object on which the glyph is inscribed. For glyphs inscribed within an object, the most common triggers include opening that object, approaching within a certain distance of the object, or seeing or reading the glyph. Once a glyph is triggered, this spell ends.\n" +
                  "You can further refine the trigger so the spell activates only under certain circumstances or according to physical characteristics (such as height or weight), creature kind (for example, the ward could be set to affect aberrations or drow), or alignment. You can also set conditions for creatures that don't trigger the glyph, such as those who say a certain password.\n" +
                  "When you inscribe the glyph, choose explosive runes or a spell glyph.\n" +
                  "Explosive Runes. When triggered, the glyph erupts with magical energy in a 20-foot-radius sphere centered on the glyph. The sphere spreads around corners. Each creature in the area must make a Dexterity saving throw. A creature takes 5d8 acid, cold, fire, lightning, or thunder damage on a failed saving throw (your choice when you create the glyph), or half as much damage on a successful one.\n" +
                  "Spell Glyph. You can store a prepared spell of 3rd level or lower in the glyph by casting it as part of creating the glyph. The spell must target a single creature or an area. The spell being stored has no immediate effect when cast in this way. When the glyph is triggered, the stored spell is cast. If the spell has a target, it targets the creature that triggered the glyph. If the spell affects an area, the area is centered on that creature. If the spell summons hostile creatures or creates harmful objects or traps, they appear as close as possible to the intruder and attack it. If the spell requires concentration, it lasts until the end of its full duration.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, the damage of an explosive runes glyph increases by 1d8 for each slot level above 3rd. If you create a spell glyph, you can store any spell of up to the same level as the slot you use for the glyph of warding.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Magic Circle",
          description: "You create a 10-foot-radius, 20-foot-tall cylinder of magical energy centered on a point on the ground that you can see within range. Glowing runes appear wherever the cylinder intersects with the floor or other surface.\n" +
                  "Choose one or more of the following types of creatures: celestials, elementals, fey, fiends, or undead. The circle affects a creature of the chosen type in the following ways:\n" +
                  "\n" +
                  "The creature can't willingly enter the cylinder by nonmagical means. If the creature tries to use teleportation or interplanar travel to do so, it must first succeed on a Charisma saving throw.\n" +
                  "The creature has disadvantage on attack rolls against targets within the cylinder.\n" +
                  "Targets within the cylinder can't be charmed, frightened, or possessed by the creature.\n" +
                  "When you cast this spell, you can elect to cause its magic to operate in the reverse direction, preventing a creature of the specified type from leaving the cylinder and protecting targets outside it.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, the duration increases by 1 hour for each slot level above 3rd. 10ft",
          tags: [tags.SPELL, tags.LVL3, tags.BUFF, tags.DEFENSIVE, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Mass Healing Word",
          description: "As you call out words of restoration, up to six creatures of your choice that you can see within range regain hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, the healing increases by 1d4 for each slot level above 3rd.",
          tags: [tags.SPELL, tags.LVL3, tags.HEAL, tags.MEDIUM_RANGE],
          usable: false
        },
        {
          title: "Meld into Stone",
          description: "You step into a stone object or surface large enough to fully contain your body, melding yourself and all the equipment you carry with the stone for the duration. Using your movement, you step into the stone at a point you can touch. Nothing of your presence remains visible or otherwise detectable by nonmagical senses.\n" +
                  "While merged with the stone, you can't see what occurs outside it, and any Wisdom (Perception) checks you make to hear sounds outside it are made with disadvantage. You remain aware of the passage of time and can cast spells on yourself while merged in the stone. You can use your movement to leave the stone where you entered it, which ends the spell. You otherwise can't move.\n" +
                  "Minor physical damage to the stone doesn't harm you, but its partial destruction or a change in its shape (to the extent that you no longer fit within it) expels you and deals 6d6 bludgeoning damage to you. The stone's complete destruction (or transmutation into a different substance) expels you and deals 50 bludgeoning damage to you. If expelled, you fall prone in an unoccupied space closest to where you first entered.",
          tags: [tags.SPELL, tags.LVL3, tags.DEFENSIVE, tags.MELEE],
          usable: true
        },
        {
          title: "Protection from Energy",
          description: "For the duration, the willing creature you touch has resistance to one damage type of your choice: acid, cold, fire, lightning, or thunder.",
          tags: [tags.SPELL, tags.LVL3, tags.DEFENSIVE, tags.BUFF, tags.MELEE],
          usable: true
        },
        {
          title: "Remove Curse",
          description: "At your touch, all curses affecting one creature or object end. If the object is a cursed magic item, its curse remains, but the spell breaks its owner's attunement to the object so it can be removed or discarded.",
          tags: [tags.SPELL, tags.LVL3, tags.DEFENSIVE, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Revivify",
          description: "You touch a creature that has died within the last minute. That creature returns to life with 1 hit point. This spell can't return to life a creature that has died of old age, nor can it restore any missing body parts.",
          tags: [tags.SPELL, tags.LVL3, tags.DEFENSIVE, tags.HEAL, tags.MELEE],
          usable: false
        },
        {
          title: "Sending",
          description: "You send a short message of twenty-five words or less to a creature with which you are familiar. The creature hears the message in its mind, recognizes you as the sender if it knows you, and can answer in a like manner immediately. The spell enables creatures with Intelligence scores of at least 1 to understand the meaning of your message.\n" +
                  "You can send the message across any distance and even to other planes of existence, but if the target is on a different plane than you, there is a 5 percent chance that the message doesn't arrive. Unlimited range",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.LONG_RANGE],
          usable: true
        },
        {
          title: "Speak with the Dead",
          description: "You grant the semblance of life and intelligence to a corpse of your choice within range, allowing it to answer the questions you pose. The corpse must still have a mouth and can't be undead. The spell fails if the corpse was the target of this spell within the last 10 days.\n" +
                  "Until the spell ends, you can ask the corpse up to five questions. The corpse knows only what it knew in life, including the languages it knew. Answers are usually brief, cryptic, or repetitive, and the corpse is under no compulsion to offer a truthful answer if you are hostile to it or it recognizes you as an enemy. This spell doesn't return the creature's soul to its body, only its animating spirit. Thus, the corpse can't learn new information, doesn't comprehend anything that has happened since it died, and can't speculate about future events.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Spirit Guardians",
          description: "You call forth spirits to protect you. They flit around you to a distance of 15 feet for the duration. If you are good or neutral, their spectral form appears angelic or fey (your choice). If you are evil, they appear fiendish.\n" +
                  "When you cast this spell, you can designate any number of creatures you can see to be unaffected by it. An affected creature's speed is halved in the area, and when the creature enters the area for the first time on a turn or starts its turn there, it must make a Wisdom saving throw. On a failed save, the creature takes 3d8 radiant damage (if you are good or neutral) or 3d8 necrotic damage (if you are evil). On a successful save, the creature takes half as much damage.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 4th level or higher, the damage increases by 1d8 for each slot level above 3rd. 15ft radius",
          tags: [tags.SPELL, tags.LVL3, tags.DEFENSIVE, tags.DAMAGE, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Tongues",
          description: "This spell grants the creature you touch the ability to understand any spoken language it hears. Moreover, when the target speaks, any creature that knows at least one language and can hear the target understands what it says.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.MELEE],
          usable: false
        },
        {
          title: "Water Walk",
          description: "This spell grants the ability to move across any liquid surface--such as water, acid, mud, snow, quicksand, or lava--as if it were harmless solid ground (creatures crossing molten lava can still take damage from the heat). Up to ten willing creatures you can see within range gain this ability for the duration.\n" +
                  "If you target a creature submerged in a liquid, the spell carries the target to the surface of the liquid at a rate of 60 feet per round.",
          tags: [tags.SPELL, tags.LVL3, tags.UTIL, tags.SHORT_RANGE],
          usable: false
        },
        {
          title: "Banishment",
          description: "You attempt to send one creature that you can see within range to another plane of existence. The target must succeed on a Charisma saving throw or be banished.\n" +
                  "If the target is native to the plane of existence you're on, you banish the target to a harmless demiplane. While there, the target is incapacitated. The target remains there until the spell ends, at which point the target reappears in the space it left or in the nearest unoccupied space if that space is occupied.\n" +
                  "If the target is native to a different plane of existence than the one you're on, the target is banished with a faint popping noise, returning to its home plane. If the spell ends before 1 minute has passed, the target reappears in the space it left or in the nearest unoccupied space if that space is occupied. Otherwise, the target doesn't return.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 5th level or higher, you can target one additional creature for each slot level above 4th.",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL, tags.DEFENSIVE, tags.OFFENSIVE, tags.MEDIUM_RANGE],
          usable: false
        },
        {
          title: "Control Water",
          description: "Until the spell ends, you control any freestanding water inside an area you choose that is a cube up to 100 feet on a side. You can choose from any of the following effects when you cast this spell. As an action on your turn, you can repeat the same effect or choose a different one.\n" +
                  "Flood. You cause the water level of all standing water in the area to rise by as much as 20 feet. If the area includes a shore, the flooding water spills over onto dry land.\n" +
                  "If you choose an area in a large body of water, you instead create a 20-foot tall wave that travels from one side of the area to the other and then crashes down. Any Huge or smaller vehicles in the wave's path are carried with it to the other side. Any Huge or smaller vehicles struck by the wave have a 25 percent chance of capsizing.\n" +
                  "The water level remains elevated until the spell ends or you choose a different effect. If this effect produced a wave, the wave repeats on the start of your next turn while the flood effect lasts.\n" +
                  "Part Water. You cause water in the area to move apart and create a trench. The trench extends across the spell's area, and the separated water forms a wall to either side. The trench remains until the spell ends or you choose a different effect. The water then slowly fills in the trench over the course of the next round until the normal water level is restored.\n" +
                  "Redirect Flow. You cause flowing water in the area to move in a direction you choose, even if the water has to flow over obstacles, up walls, or in other unlikely directions. The water in the area moves as you direct it, but once it moves beyond the spell's area, it resumes its flow based on the terrain conditions. The water continues to move in the direction you chose until the spell ends or you choose a different effect.\n" +
                  "Whirlpool. This effect requires a body of water at least 50 feet square and 25 feet deep. You cause a whirlpool to form in the center of the area. The whirlpool forms a vortex that is 5 feet wide at the base, up to 50 feet wide at the top, and 25 feet tall. Any creature or object in the water and within 25 feet of the vortex is pulled 10 feet toward it. A creature can swim away from the vortex by making a Strength (Athletics) check against your spell save DC.\n" +
                  "When a creature enters the vortex for the first time on a turn or starts its turn there, it must make a Strength saving throw. On a failed save, the creature takes 2d8 bludgeoning damage and is caught in the vortex until the spell ends. On a successful save, the creature takes half damage, and isn't caught in the vortex. A creature caught in the vortex can use its action to try to swim away from the vortex as described above, but has disadvantage on the Strength (Athletics) check to do so.\n" +
                  "The first time each turn that an object enters the vortex, the object takes 2d8 bludgeoning damage; this damage occurs each round it remains in the vortex. 300ft",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL, tags.DEFENSIVE, tags.OFFENSIVE, tags.LONG_RANGE],
          usable: false
        },
        {
          title: "Death Ward",
          description: "You touch a creature and grant it a measure of protection from death.\n" +
                  "The first time the target would drop to 0 hit points as a result of taking damage, the target instead drops to 1 hit point, and the spell ends.\n" +
                  "If the spell is still in effect when the target is subjected to an effect that would kill it instantaneously without dealing damage, that effect is instead negated against the target, and the spell ends.",
          tags: [tags.SPELL, tags.LVL4, tags.BUFF, tags.DEFENSIVE, tags.MELEE],
          usable: true
        },
        {
          title: "Divination",
          description: "Your magic and an offering put you in contact with a god or a god's servants. You ask a single question concerning a specific goal, event, or activity to occur within 7 days. The GM offers a truthful reply. The reply might be a short phrase, a cryptic rhyme, or an omen.\n" +
                  "The spell doesn't take into account any possible circumstances that might change the outcome, such as the casting of additional spells or the loss or gain of a companion.\n" +
                  "If you cast the spell two or more times before finishing your next long rest, there is a cumulative 25 percent chance for each casting after the first that you get a random reading. The GM makes this roll in secret.",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL],
          usable: false
        },
        {
          title: "Freedom of Movement",
          description: "You touch a willing creature. For the duration, the target's movement is unaffected by difficult terrain, and spells and other magical effects can neither reduce the target's speed nor cause the target to be paralyzed or restrained.\n" +
                  "The target can also spend 5 feet of movement to automatically escape from nonmagical restraints, such as manacles or a creature that has it grappled. Finally, being underwater imposes no penalties on the target's movement or attacks.",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL, tags.BUFF, tags.MELEE],
          usable: false
        },
        {
          title: "Guardian of Faith",
          description: "A Large spectral guardian appears and hovers for the duration in an unoccupied space of your choice that you can see within range. The guardian occupies that space and is indistinct except for a gleaming sword and shield emblazoned with the symbol of your deity.\n" +
                  "Any creature hostile to you that moves to a space within 10 feet of the guardian for the first time on a turn must succeed on a Dexterity saving throw. The creature takes 20 radiant damage on a failed save, or half as much damage on a successful one. The guardian vanishes when it has dealt a total of 60 damage.",
          tags: [tags.SPELL, tags.LVL4, tags.DEFENSIVE, tags.DAMAGE, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Locate Creature",
          description: "Describe or name a creature that is familiar to you. You sense the direction to the creature's location, as long as that creature is within 1,000 feet of you. If the creature is moving, you know the direction of its movement.\n" +
                  "The spell can locate a specific creature known to you, or the nearest creature of a specific kind (such as a human or a unicorn), so long as you have seen such a creature up close--within 30 feet--at least once. If the creature you described or named is in a different form, such as being under the effects of a polymorph spell, this spell doesn't locate the creature.\n" +
                  "This spell can't locate a creature if running water at least 10 feet wide blocks a direct path between you and the creature.",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL],
          usable: false
        },
        {
          title: "Stone Shape",
          description: "You touch a stone object of Medium size or smaller or a section of stone no more than 5 feet in any dimension and form it into any shape that suits your purpose. So, for example, you could shape a large rock into a weapon, idol, or coffer, or make a small passage through a wall, as long as the wall is less than 5 feet thick. You could also shape a stone door or its frame to seal the door shut. The object you create can have up to two hinges and a latch, but finer mechanical detail isn't possible.",
          tags: [tags.SPELL, tags.LVL4, tags.UTIL, tags.MELEE],
          usable: true
        },
        {
          title: "Wall of Fire",
          description: "You create a wall of fire on a solid surface within range. You can make the wall up to 60 feet long, 20 feet high, and 1 foot thick, or a ringed wall up to 20 feet in diameter, 20 feet high, and 1 foot thick. The wall is opaque and lasts for the duration.\n" +
                  "When the wall appears, each creature within its area must make a Dexterity saving throw. On a failed save, a creature takes 5d8 fire damage, or half as much damage on a successful save.\n" +
                  "One side of the wall, selected by you when you cast this spell, deals 5d8 fire damage to each creature that ends its turn within 10 feet of that side or inside the wall. A creature takes the same damage when it enters the wall for the first time on a turn or ends its turn there. The other side of the wall deals no damage.\n" +
                  "\n" +
                  "At Higher Levels. When you cast this spell using a spell slot of 5th level or higher, the damage increases by 1d8 for each slot level above 4th. 120ft",
          tags: [tags.SPELL, tags.LVL4, tags.OFFENSIVE, tags.DAMAGE, tags.LONG_RANGE],
          usable: true
        },
        {
          title: "Radiance of the Dawn",
          description: "As an action, you present your holy symbol, and any magical darkness within 30 feet of you is dispelled. Additionally, each hostile creature within 30 feet of you must make a Constitution saving throw. A creature takes radiant damage equal to 2d10 + your cleric level on a failed saving throw, and half as much damage on a successful one. A creature that has total cover from you is not affected.",
          tags: [tags.ACT_OF_FAITH, tags.OFFENSIVE, tags.DAMAGE, tags.SHORT_RANGE],
          usable: true
        },
        {
          title: "Destroy Undead",
          description: "As an action, you present your holy Symbol and speak a prayer censuring the Undead. Each Undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving throw, it is turned for 1 minute or until it takes any damage.\n" +
                  "\n" +
                  "A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take Reactions. For its action, it can use only the Dash action or try to escape from an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action. Starting at 5th Level, when an Undead of CR 1/2 or lower fails its saving throw against Your Turn Undead feature, the creature is instantly destroyed.",
          tags: [tags.ACT_OF_FAITH, tags.DEFENSIVE, tags.DAMAGE, tags.SHORT_RANGE],
          usable: true
        },
      ],
      visibleActions: [],
      currentSearch: "",
      currentTags: []
    }
  },
  created() {
    this.visibleActions = this.actions.sort((a1, a2) => {
      if (a1.usable && !a2.usable) return -1
      else if (a2.usable && !a1.usable) return 1
      else if (a1.title < a2.title) return -1
      else return 1
    })
  }
}
</script>

<style>

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: auto;
    width: 70%;
  }
</style>
